<nav class="navbar navbar-default py-3">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">INV</a>
    </div>
    <ul class="nav navbar-nav flex-row gap-3 list-group">
      <li>
        <a href="/" class="list-group-item list-group-item-action">Home</a>
      </li>
      <li>
        <a href="/phone" class="list-group-item list-group-item-action"
          >Phone</a
        >
      </li>
      <li>
        <a href="/tablet" class="list-group-item list-group-item-action"
          >Tablet</a
        >
      </li>
      <li>
        <a href="/laptop" class="list-group-item list-group-item-action"
          >Laptop</a
        >
      </li>
    </ul>
  </div>
</nav>
