<h1 style="margin-top: 4rem; margin-bottom: 2rem">Phone Inventory</h1>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Item</th>
      <th scope="col">Stock</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% phones.forEach(phone => { %>
    <tr>
      <td><%= phone.itemname %></td>
      <td><%= phone.stock %></td>
      <td>
        <div class="d-flex gap-2">
          <form action="/phones/<%= phone.id %>/edit">
            <button type="submit" class="btn btn-primary">Edit</button>
          </form>
          <form action="/phones/<%= phone.id %>?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </div>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
